In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Becky/Dropbox/KDI_ESG_공유/분석데이터/필터링데이터/esg_2018_2021_dataset_ESG_Filtered.csv')

In [3]:
df = df[['keyword','title','content','time']]

In [4]:
name = pd.read_excel('C:/Users/Becky/Dropbox/KDI_ESG_공유/참고자료/코스피100_211230.xlsx')

C:\Users\Becky\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:214: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
name_list = name['종목명'].to_list()

In [6]:
name_list.remove('NAVER')
name_list.append('네이버')

In [7]:
len(name_list)

100

In [8]:
def name_counter(text):
    total_count = 0
    for word in name_list:
        count_ = text.count(word)
        total_count += count_
    return total_count

In [9]:
a = df['content'][4]

In [10]:
name_counter(a)

20

In [11]:
df['name_count']  = df['content'].map(lambda x : name_counter(x))

In [60]:
df.to_csv('기업명 카운트.csv', index = False, encoding= 'utf-8-sig')

In [12]:
# 기업명 한 번 이상 등장
df_1 = df[df['name_count']>=1].reset_index(drop = True)

In [19]:
# 기업명 5 번 이상 등장
df_5 = df[df['name_count']>=5].reset_index(drop = True)

In [61]:
df_1.to_csv('기업명 카운트_1개 이상 기사.csv', index = False, encoding= 'utf-8-sig')

In [62]:
df_5.to_csv('기업명 카운트_5개 이상 기사.csv', index = False, encoding= 'utf-8-sig')

In [24]:
print(len(df))
len(df_nolabel) + len(df_5_index)

75992

75992

In [17]:
# 외주 15000개
df_5_index = df[df['name_count']>=5][:15000]

In [43]:
df_nolabel = df.drop(df_5_index.index, axis=0).reset_index(drop=True)

In [44]:
df_nolabel.to_csv('pred_with_everything.csv', index = False, encoding= 'utf-8-sig')

In [40]:
df_nolabel['id'] = list(range(len(df_nolabel)))
df_nolabel['label'] = 0
df_nolabel = df_nolabel[['id', 'title','label']]
df_nolabel.columns = ['id', 'document','label']

In [45]:
df_nolabel.head()

,keyword,title,content,time,name_count
0,esg,풀무원 오너 경영 마감하고 전문경영인 체제로…이효율 신임 총괄CEO 선임,이효율 풀무원 신임 총괄CEO.ⓒ풀무원풀무원이 창사 이래 33년 오너경영을 마감하고...,2018.01.01.,2
1,esg,[신년사]김성주 이사장 “국민이 주인인 연금 만들어 가겠다”,- 회과자신(悔過自新) 자세로 새해 각오 다져- 국가의 국민연금 지급보장 중요성 강...,2018.01.02.,1
2,esg,"한미연합훈련 '단골' 본험 리처드함, 동해 떠난다","미7함대 상륙군 기함으로 日 전진 배치, 와스프 함과 3월쯤 임무 교대와스프 함, ...",2018.01.03.,0
3,esg,"MSCI, 사회책임경영 지수에서 삼성전자 제외",삼성전자 사회적 이슈 평가서 낮은 점수 받아삼성전자가 최순실 국정농단 사태로 세계...,2018.01.08.,4
4,esg,"글로벌 자산운용사 SSGA, 엄태종 한국 대표 신규 선임",글로벌 자산운용사인 스테이트 스트리트 글로벌 어드바이저(State Street G...,2018.01.08.,2

In [42]:
df_nolabel.to_csv('pred.csv', index = False, encoding= 'utf-8-sig')

In [18]:
df_5_index

,keyword,title,content,time,name_count
2,esg,[착한투자]거래소 `ESG 사회책임지수`..코스피 두 배 이겼다,"- KB운용, 1분기 ESG 사회책임지수 ETF 출시- 4분의 1이 삼성전자..시가...",2018.01.03.,9
4,esg,[단독]글로벌 ESG 투자 급증하는데···발목잡힌 삼성전자,"삼성전자, MSCI 코리아 ESG 리더스 지수서 제외사회적 논쟁 평가서 기준 미달펀...",2018.01.08.,20
6,esg,[단독]결국 JY 구속 뒤탈...MSCI지수서 빠진 삼성,"소모적 논쟁, 경영에 부정적투자 판단하는 지수서 제외 삼성전자(005930)가 세계...",2018.01.08.,9
9,esg,건설사 CEO 새바람... ‘현장통’지고 ‘재무통’뜬다,현대·대우건설·현대산업개발CEO 후임 재무통 속속 선임대출규제에 후분양제 본격화금융...,2018.01.08.,8
10,esg,"LG전자, MSCI ESG지수 구성종목에 편입",LG전자 (서울=연합뉴스) 전명훈 기자 = 세계적인 지수 산출기관 모건스탠리캐피털인...,2018.01.09.,19
...,...,...,...,...,...
75674,지배구조,"LG화학·LG엔솔, 북미 최대 배터리 리사이클업체에 600억 투자",LG화학과 LG에너지솔루션이 북미 최대 배터리 리사이클링 업체에 600억원을 투자해...,2021.12.15.,24
75675,지배구조,"SK루브리컨츠, 연비 향상된 초저점도 상용차용 엔진오일 출시",한진 택배차량에 시험해 신제품 효과 확인…탄소 배출량 줄여(서울=연합뉴스) 김영신 ...,2021.12.15.,13
75676,지배구조,"삼성물산·중공업·엔지니어링 인사... 부사장 총 18명 승진…""성과 기반""","2022년도 임원 승진인사물산, 부사장 11명·상무 23명중공업, 부사장 3명·상무...",2021.12.15.,9
75678,지배구조,"LG화학·엔솔, 북미 배터리 리사이클링 업체에 600억원 투자",LG화학(051910)과 LG에너지솔루션이 북미 최대 배터리 리사이클링 업체인 라이...,2021.12.15.,10
75691,지배구조,"GS건설, 국내 건설사 중 첫 '그린론' 조달 성공",약 7천20만유로 조달…폴란드 친환경 물류센터 건설에 사용16일 서울 중구 스테이트...,2021.12.16.,16

In [65]:
df_5_part1 = df_5[:3000]
df_5_part2 = df_5[3000:6000]
df_5_part3 = df_5[6000:9000]
df_5_part4 = df_5[9000:12000]
df_5_part5 = df_5[12000:15000]

In [75]:
df_5_part1.to_excel('외주_part1_3000개.xlsx', index = False, encoding= 'utf-8-sig')
df_5_part2.to_excel('외주_part2_3000개.xlsx', index = False, encoding= 'utf-8-sig')
df_5_part3.to_excel('외주_part3_3000개.xlsx', index = False, encoding= 'utf-8-sig')
df_5_part4.to_excel('외주_part4_3000개.xlsx', index = False, encoding= 'utf-8-sig')
df_5_part5.to_excel('외주_part5_3000개.xlsx', index = False, encoding= 'utf-8-sig')